<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Base</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
    <h1>Hola mundo desde Django</h1>
    <h2>Con templates</h2>
    <br>
    <p>
        {{ myText }},
        {{ myNumber }}
    </p>
    <ul>
        {% for myItem in myList %}
            <li>{{forloop.counter}} - {{myItem}}
            {% if myItem == 33%}
                - Este número es mágico
            {% elif myItem > 50 %}
                - Este número es mayor que 50
            {% endif %}
            </li>
        {% endfor %}
    </ul>

    {{request.user.is_authenticated}}
    {% endblock %}
    
    
</body>
</html>